# On ne cherche pas à faire le suivi du répertoire build
build/
# On ne cherche pas à faire le suivi des fichiers de configuration
TextEditeur.pro.*
# Le fichier suivant me sert de fichier de log
LogMsg
